<section class="post-wrapper-top" onload="ls()">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="/" method="get">Inicio</a></li>
          <li> Productos de seguridad </li>
        </ul>
        <h2> Productos de seguridad </h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <!-- search -->
        <div class="search-bar">
          <form action="" method="get">
            <fieldset>
              <input type="image" src="img/pixel.gif" class="searchsubmit" alt="" />
              <input type="text" class="search_text showtextback" name="s" id="s" value="" placeholder="Search..." onkeypress="search(event)" onfocus="showList(true)" onfocusout="showList(false)" onkeydown="search(event)"/>
              <!--CAMBIAR!!!!!--><div id="list"></div>
            </fieldset>
          </form>
        </div>
        <!-- / end div .search-bar -->

      </div>
    </div>
  </section>
  

  <section class="section1">
    <div class="container clearfix">
      <div class=" col-lg-12 col-md-12 col-sm-12 clearfix">

        <div class="divider"></div>

        {{!-- <nav class="portfolio-filter clearfix">
          <ul>
            <li><a href="#" class="dmbutton2" data-filter="*"> Todos </a></li>
            <li><a href="#" class="dmbutton2" data-filter=".calzados"> Calzados </a></li>
            <li><a href="#" class="dmbutton2" data-filter=".proteccion"> Protecciones </a></li>
            <li><a href="#" class="dmbutton2" data-filter=".indumentaria"> Indumentaria </a></li>

          </ul>
        </nav> --}}

        <div class="portfolio-centered">
          <div class="recentitems portfolio">
            {{#each prod}}
            <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 calzados">
              <div class="he-wrap tpl6 market-item">
                <img src="data:image/png;base64,{{this.Img}}" alt=" ">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                    <h3 class="big a1" data-animate="fadeInDown"> {{this.Nombre}} </h3>
                    <h2>{{this.Codigo}} </h2> 
                    <a href="productos-seguridad/{{this.id_seguridad}}" method="get" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                    <div class="portfolio_category text-center a2" data-animate="fadeIn">
                    </div>         
                  </div>              
                </div>            
              </div>          
              <h3 class="title"> {{this.Nombre}} </h3>
              <p> Descripción producto </p>
            </div>
            {{/each}}
            
            {{!-- <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 calzados">
              <div class="he-wrap tpl6 market-item">
                 <img src="img/productos-seguridad/calzados/example02.png" alt="">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                    <h3 class="big a1" data-animate="fadeInDown">{{this.Nombre}} </h3>
                    <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                    <div class="portfolio_category text-center a2" data-animate="fadeIn">
                    </div>         
                  </div>              
                </div>            
              </div>          
              <h3 class="title"> {{this.Nombre}} </h3>
              <p> Descripción producto </p>
            </div> --}}
      
          {{!--
            <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 calzados">
              <div class="he-wrap tpl6 market-item">
                <img src="img/productos-seguridad/calzados/example03.png" alt="">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                    <h3 class="big a1" data-animate="fadeInDown"> BORCEGUI LINEA SAN JUAN ATT</h3>
                    <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                    <div class="portfolio_category text-center a2" data-animate="fadeIn">
                    </div>         
                  </div>              
                </div>            
              </div>          
              <h3 class="title"> BORCEGUI LINEA SAN JUAN ATT </h3>
              <p> Descripción producto </p>
            </div>

            <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 calzados">
              <div class="he-wrap tpl6 market-item">
                <img src="img/productos-seguridad/calzados/example04.png" alt="">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                    <h3 class="big a1" data-animate="fadeInDown"> BOTIN LINEA CHACO 3.0 ATT </h3>
                    <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                    <div class="portfolio_category text-center a2" data-animate="fadeIn">
                    </div>         
                  </div>              
                </div>            
              </div>          
              <h3 class="title"> BOTIN LINEA CHACO 3.0 ATT </h3>
              <p> Descripción producto </p>
            </div>

            <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 calzados">
              <div class="he-wrap tpl6 market-item">
                <img src="img/productos-seguridad/calzados/example05.png" alt="">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                    <h3 class="big a1" data-animate="fadeInDown"> BOTIN HOMOLOGADO GRAFA 70 </h3>
                    <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                    <div class="portfolio_category text-center a2" data-animate="fadeIn">
                    </div>         
                  </div>              
                </div>            
              </div>          
              <h3 class="title"> BOTIN HOMOLOGADO GRAFA 70 </h3>
              <p> Descripción producto </p>
            </div>

            <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 calzados">
              <div class="he-wrap tpl6 market-item">
                <img src="img/productos-seguridad/calzados/example06.png" alt="">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                    <h3 class="big a1" data-animate="fadeInDown"> BOTIN DE SEGURIDAD CAUCHO 3002</h3>
                    <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                    <div class="portfolio_category text-center a2" data-animate="fadeIn">
                    </div>         
                  </div>              
                </div>            
              </div>          
              <h3 class="title"> BOTIN DE SEGURIDAD CAUCHO 3002 </h3>
              <p> Descripción producto </p>
            </div>

            <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 calzados">
              <div class="he-wrap tpl6 market-item">
                <img src="img/productos-seguridad/calzados/example07.png" alt="">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                    <h3 class="big a1" data-animate="fadeInDown"> BOTIN DE SEGURIDAD COBRA  </h3>
                    <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                    <div class="portfolio_category text-center a2" data-animate="fadeIn">
                    </div>         
                  </div>              
                </div>            
              </div>          
              <h3 class="title"> BOTIN DE SEGURIDAD COBRA </h3>
              <p> Descripción producto </p>
            </div>

            <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 calzados">
              <div class="he-wrap tpl6 market-item">
                <img src="img/productos-seguridad/calzados/example08.png" alt="">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                    <h3 class="big a1" data-animate="fadeInDown"> BOTIN URBANO ULTRALIVIANO STREET VISON  </h3>
                    <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                    <div class="portfolio_category text-center a2" data-animate="fadeIn">
                    </div>         
                  </div>              
                </div>            
              </div>          
              <h3 class="title"> BOTIN URBANO ULTRALIVIANO STREET VISON </h3>
              <p> Descripción producto </p>
            </div>

            <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 calzados">
              <div class="he-wrap tpl6 market-item">
                <img src="img/productos-seguridad/calzados/example09.png" alt="">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                    <h3 class="big a1" data-animate="fadeInDown"> ZAPATO DE SEGURIDAD CACUCHO 32201 </h3>
                    <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                    <div class="portfolio_category text-center a2" data-animate="fadeIn">
                    </div>         
                  </div>              
                </div>            
              </div>          
              <h3 class="title"> ZAPATO DE SEGURIDAD CACUCHO 32201 </h3>
              <p> Descripción producto </p>
            </div>

            <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 calzados">
              <div class="he-wrap tpl6 market-item">
                <img src="img/productos-seguridad/calzados/example10.png" alt="">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                    <h3 class="big a1" data-animate="fadeInDown"> ZAPATO PRUSIANO IRON  </h3>
                    <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                    <div class="portfolio_category text-center a2" data-animate="fadeIn">
                    </div>         
                  </div>              
                </div>            
              </div>          
              <h3 class="title"> ZAPATO PRUSIANO IRON  </h3>
              <p> Descripción producto </p>
            </div>

            <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 calzados">
              <div class="he-wrap tpl6 market-item">
                <img src="img/productos-seguridad/calzados/example11.png" alt="">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                    <h3 class="big a1" data-animate="fadeInDown"> ZAPATO DE SEGURIDAD JANO </h3>
                    <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                    <div class="portfolio_category text-center a2" data-animate="fadeIn">
                    </div>         
                  </div>              
                </div>            
              </div>          
              <h3 class="title"> ZAPATO DE SEGURIDAD JANO  </h3>
              <p> Descripción producto </p>
            </div>

            <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 calzados">
              <div class="he-wrap tpl6 market-item">
                <img src="img/productos-seguridad/calzados/example12.png" alt="">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                    <h3 class="big a1" data-animate="fadeInDown"> BORCEGUI DE SEGURIDAD ARES MARRÓN </h3>
                    <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                    <div class="portfolio_category text-center a2" data-animate="fadeIn">
                    </div>         
                  </div>              
                </div>            
              </div>          
              <h3 class="title"> BORCEGUI DE SEGURIDAD ARES MARRÓN </h3>
              <p> Descripción producto </p>
            </div>

            <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 calzados">
              <div class="he-wrap tpl6 market-item">
                <img src="img/productos-seguridad/calzados/example13.png" alt="">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                    <h3 class="big a1" data-animate="fadeInDown"> BOTIN DE SEGURIDAD ARGOS </h3>
                    <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                    <div class="portfolio_category text-center a2" data-animate="fadeIn">
                    </div>         
                  </div>              
                </div>            
              </div>          
              <h3 class="title"> BOTIN DE SEGURIDAD ARGOS </h3>
              <p> Descripción producto </p>
            </div>

            <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 calzados">
              <div class="he-wrap tpl6 market-item">
                <img src="img/productos-seguridad/calzados/example14.jpg" alt="">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                    <h3 class="big a1" data-animate="fadeInDown"> BOTIN DE SEGURIDAD PAMPEANA CALFOR EVOLUTION PVC NEGRA </h3>
                    <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                    <div class="portfolio_category text-center a2" data-animate="fadeIn">
                    </div>         
                  </div>              
                </div>            
              </div>          
              <h3 class="title"> BOTIN DE SEGURIDAD PAMPEANA CALFOR EVOLUTION PVC NEGRA </h3>
              <p> Descripción producto </p>
            </div>

            <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 calzados">
              <div class="he-wrap tpl6 market-item">
                <img src="img/productos-seguridad/calzados/example15.jpg" alt="">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                    <h3 class="big a1" data-animate="fadeInDown"> BOTIN NAUTICA CALFOR SIN CUELLO </h3>
                    <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                    <div class="portfolio_category text-center a2" data-animate="fadeIn">
                    </div>         
                  </div>              
                </div>            
              </div>          
              <h3 class="title"> BOTIN NAUTICA CALFOR SIN CUELLO </h3>
              <p> Descripción producto </p>
            </div>

            <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 calzados">
              <div class="he-wrap tpl6 market-item">
                <img src="img/productos-seguridad/calzados/example16.jpg" alt="">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                    <h3 class="big a1" data-animate="fadeInDown"> BOTIN NAUTICA CALFOR SIN CUELLO </h3>
                    <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                    <div class="portfolio_category text-center a2" data-animate="fadeIn">
                    </div>         
                  </div>              
                </div>            
              </div>          
              <h3 class="title"> BOTIN NAUTICA CALFOR SIN CUELLO </h3>
              <p> Descripción producto </p>
            </div>

            <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 calzados">
              <div class="he-wrap tpl6 market-item">
                <img src="img/productos-seguridad/calzados/example17.png" alt="">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                    <h3 class="big a1" data-animate="fadeInDown"> BOTIN CRONOS N VORAN </h3>
                    <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                    <div class="portfolio_category text-center a2" data-animate="fadeIn">
                    </div>         
                  </div>              
                </div>            
              </div>          
              <h3 class="title"> BOTIN CRONOS N VORAN </h3>
              <p> Descripción producto </p>
            </div>

            <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 calzados">
              <div class="he-wrap tpl6 market-item">
                <img src="img/productos-seguridad/calzados/example18.png" alt="">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                    <h3 class="big a1" data-animate="fadeInDown"> BOTIN FUNCIONAL MOD. 3002 MARRÓN </h3>
                    <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                    <div class="portfolio_category text-center a2" data-animate="fadeIn">
                    </div>         
                  </div>              
                </div>            
              </div>          
              <h3 class="title"> BOTIN FUNCIONAL MOD. 3002 MARRÓN </h3>
              <p> Descripción producto </p>
            </div>

            <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 calzados">
              <div class="he-wrap tpl6 market-item">
                <img src="img/productos-seguridad/calzados/example19.png" alt="">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                    <h3 class="big a1" data-animate="fadeInDown"> BOTIN VORAN NEPTUNO, SUELA PU BIDENSIDAD, 100% DIELÉCTRICA, NEGRO  </h3>
                    <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                    <div class="portfolio_category text-center a2" data-animate="fadeIn">
                    </div>         
                  </div>              
                </div>            
              </div>          
              <h3 class="title"> BOTIN VORAN NEPTUNO, SUELA PU BIDENSIDAD, 100% DIELÉCTRICA, NEGRO  </h3>
              <p> Descripción producto </p>
            </div>

            <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 calzados">
              <div class="he-wrap tpl6 market-item">
                <img src="img/productos-seguridad/calzados/example20.png" alt="">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                    <h3 class="big a1" data-animate="fadeInDown"> ZAPATO VORAN JANO, SUELA PU BIDENSIDAD, 100% DIELÉCTRICA, NEGRO  </h3>
                    <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                    <div class="portfolio_category text-center a2" data-animate="fadeIn">
                    </div>         
                  </div>              
                </div>            
              </div>          
              <h3 class="title"> ZAPATO VORAN JANO, SUELA PU BIDENSIDAD, 100% DIELÉCTRICA, NEGRO  </h3>
              <p> Descripción producto </p>
            </div>

              <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 calzados">
              <div class="he-wrap tpl6 market-item">
                <img src="img/productos-seguridad/calzados/example21.png" alt="">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                    <h3 class="big a1" data-animate="fadeInDown"> Botin Frances KUPRA  </h3>
                    <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                    <div class="portfolio_category text-center a2" data-animate="fadeIn">
                    </div>         
                  </div>              
                </div>            
              </div>          
              <h3 class="title"> Botin Frances KUPRA  </h3>
              <p> Descripción producto </p>
            </div>

              <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 calzados">
              <div class="he-wrap tpl6 market-item">
                <img src="img/productos-seguridad/calzados/example22.png" alt="">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                    <h3 class="big a1" data-animate="fadeInDown"> Botín Neptuno c/p acero  </h3>
                    <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                    <div class="portfolio_category text-center a2" data-animate="fadeIn">
                    </div>         
                  </div>              
                </div>            
              </div>          
              <h3 class="title"> Botín Neptuno c/p acero  </h3>
              <p> Descripción producto </p>
            </div>

              <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 calzados">
              <div class="he-wrap tpl6 market-item">
                <img src="img/productos-seguridad/calzados/example23.png" alt="">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                    <h3 class="big a1" data-animate="fadeInDown"> Botín Frances FENIX  </h3>
                    <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                    <div class="portfolio_category text-center a2" data-animate="fadeIn">
                    </div>         
                  </div>              
                </div>            
              </div>          
              <h3 class="title"> Botín Frances FENIX </h3>
              <p> Descripción producto </p>
            </div>

              <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 calzados">
              <div class="he-wrap tpl6 market-item">
                <img src="img/productos-seguridad/calzados/example24.png" alt="">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                    <h3 class="big a1" data-animate="fadeInDown"> Botin STREET Marron Ultraliviano  </h3>
                    <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                    <div class="portfolio_category text-center a2" data-animate="fadeIn">
                    </div>         
                  </div>              
                </div>            
              </div>          
              <h3 class="title"> Botin STREET Marron Ultraliviano </h3>
              <p> Descripción producto </p>
            </div>

              <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 calzados">
              <div class="he-wrap tpl6 market-item">
                <img src="img/productos-seguridad/calzados/example25.png" alt="">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                    <h3 class="big a1" data-animate="fadeInDown"> Zapato Jano c/p acero  </h3>
                    <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                    <div class="portfolio_category text-center a2" data-animate="fadeIn">
                    </div>         
                  </div>              
                </div>            
              </div>          
              <h3 class="title"> Zapato Jano c/p acero </h3>
              <p> Descripción producto </p>
            </div>
            
              <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 calzados">
              <div class="he-wrap tpl6 market-item">
                <img src="img/productos-seguridad/calzados/example26.png" alt="">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                    <h3 class="big a1" data-animate="fadeInDown"> Zapato Iron suela PU. Infinit  </h3>
                    <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                    <div class="portfolio_category text-center a2" data-animate="fadeIn">
                    </div>         
                  </div>              
                </div>            
              </div>          
              <h3 class="title"> Zapato Iron suela PU. Infinit </h3>
              <p> Descripción producto </p>
            </div>

              <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 calzados">
              <div class="he-wrap tpl6 market-item">
                <img src="img/productos-seguridad/calzados/example27.png" alt="">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                    <h3 class="big a1" data-animate="fadeInDown"> Bota Industrial Sin puntera  </h3>
                    <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                    <div class="portfolio_category text-center a2" data-animate="fadeIn">
                    </div>         
                  </div>              
                </div>            
              </div>          
              <h3 class="title"> Bota Industrial Sin puntera </h3>
              <p> Descripción producto </p>
            </div>


              <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 calzados">
              <div class="he-wrap tpl6 market-item">
                <img src="img/productos-seguridad/calzados/example28.png" alt="">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                    <h3 class="big a1" data-animate="fadeInDown"> Botin de seguridad COBRA  </h3>
                    <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                    <div class="portfolio_category text-center a2" data-animate="fadeIn">
                    </div>         
                  </div>              
                </div>            
              </div>          
              <h3 class="title"> Botin de seguridad COBRA </h3>
              <p> Descripción producto </p>
            </div>

              <div class="portfolio-item col-lg-4 col-md-4 col-sm-4 col-xs-12 calzados">
              <div class="he-wrap tpl6 market-item">
                <img src="img/productos-seguridad/calzados/example29.png" alt="">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                    <h3 class="big a1" data-animate="fadeInDown"> Zapato de seguridad IRON  </h3>
                    
                    <a href="#" class="dmbutton a2" data-animate="bounceInRight"><i class="fa fa-mouse-pointer"></i></a>
                    <div class="portfolio_category text-center a2" data-animate="fadeIn">
                    </div>         
                  </div>              
                </div>            
              </div>          
              <h3 class="title"> Zapato de seguridad IRON</h3>
              <p> Descripción producto </p>
            </div> --}}




















            </div>
           </div>    
          </div>
       </div>
      </div>
   </section>



  

  <section class="section3">
      <div class="container withpadding">
        <div class="message">
          <div class="col-lg-9 col-md-9 col-sm-9">
          </div>
        </div>  
      </div> 
  </section>

  <script>
    /*let images = document.getElementsByTagName('img');
    console.log('afasfas');
    for(let img in images){
      if(img.value){
        let base64 = img.value;
        console.log(base64);
        let buffer=Uint8Array.from(atob(base64), c => c.charCodeAt(0));
        let blob=new Blob([buffer], { type: "image/png" });
        let url=URL.createObjectURL(blob);
        img.src=url;
      }
      
    }*/
    
  </script>