<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title> {{title}} </title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  {{#if dou}}
  <link href="../img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../lib/prettyphoto/css/prettyphoto.css" rel="stylesheet">
  <link href="../lib/hover/hoverex-all.css" rel="stylesheet">
  <link href="../lib/jetmenu/jetmenu.css" rel="stylesheet">
  <link href="../lib/owl-carousel/owl-carousel.css" rel="stylesheet">

  <!-- Home Slider CSS Files -->
  <link rel="stylesheet" href="../css/home-slider/animate.min.css">
	<link rel="stylesheet" href="../css/home-slider/bootstrap.min.css">
	<link rel="stylesheet" href="../css/home-slider/font-awesome.min.css">		
	<link rel="stylesheet" href="../css/home-slider/style-slider.css">

  <!-- Main Stylesheet File -->
  <link href="../css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/colors/red.css">
  {{else}}
  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Ruda:400,900,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/prettyphoto/css/prettyphoto.css" rel="stylesheet">
  <link href="lib/hover/hoverex-all.css" rel="stylesheet">
  <link href="lib/jetmenu/jetmenu.css" rel="stylesheet">
  <link href="lib/owl-carousel/owl-carousel.css" rel="stylesheet">

  <!-- Home Slider CSS Files -->
  <link rel="stylesheet" href="css/home-slider/animate.min.css">
	<link rel="stylesheet" href="css/home-slider/bootstrap.min.css">
	<link rel="stylesheet" href="css/home-slider/font-awesome.min.css">		
	<link rel="stylesheet" href="css/home-slider/style-slider.css">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="css/colors/red.css">
  {{/if}}




</head>
<body>
  <div class="topbar clearfix">
    <div class="container">
      <div class="col-lg-12 text-left">
        <div class="social_buttons">
          <!--
          <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i>&nbsp;</a>
          <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i>&nbsp;</a>
          
          <a href="mailto:ventas@maxpowerautomation.com"data-toggle="tooltip" data-placement="bottom" title="Email"><i class="fa fa-envelope-o"></i></a>
          <a href="#" data-toggle="tooltip" data-placement="bottom" title="LinkedIn"><i class="fa fa-linkedin"></i>&nbsp;</a>
         -->
          <a href="tel:011-75029920"> &nbsp;|&nbsp; <strong></strong></a>   

          {{!-- <a href="admin"  method="get" data-toggle="tooltip" data-placement="bottom"><strong> Sing in </strong></a> --}}
   
          </div>
         </div>     
     </div>
   </div>
       
  <header class="header">
    <div class="container">
      <div class="site-header clearfix">
        <div class="col-lg-3 col-md-3 col-sm-12 title-area">
          <div class="site-title" id="title">
            <a href="/" method="get" title="">
             <h4>{{#if dou}}<img src="../img/logo/logo.png">{{else}}<img src="img/logo/logo.png">{{/if}} </h4>
            </a>   
          </div>
        </div>
      </br>
    </br>
  </br>

        <div class="col-lg-9 col-md-12 col-sm-12">
          <div id="nav" class="right">
            <div class="container clearfix">    
              <ul id="jetmenu" class="jetmenu blue">
               
                <li class="active"><a href="/" method="get"><strong>Inicio</strong></a>
                </li>
                <li class=""><a href="/" method="get"><strong>Nosotros</strong></a></li>  
                <li class=""><a href="/" method="get"><strong>Productos</strong></a></li>
                <li class=""><a href="/" method="get"><strong>Servicios</strong></a></li>
                <li class=""><a href="/" method="get"><strong>Contacto</strong></a></li>                          
                <!--
                <li><a href="/about" method="get"> Nosotros </a>
                </li>

                <li><a href="/productos" method="get">Productos</a>
                  <ul class="dropdown">
                    <li>
                      <a href="/productos-electricos" method="get">Productos eléctricos</a>
                    <ul class="dropdown">
                      <li><a href="/arrancadores-suaves" method="get"> Arrancadores Suaves </a>
                      </li>

                      <li><a href="/contactores" method="get"> Contactores </a>
                      </li>


                      <li><a href="/convertidores-de-frecuencia" method="get"> Convertidores de frecuencia </a>
                      
                      </li>

                      <li><a href="/guardamotor" method="Get"> Guardamotor </a>
                      
                      </li>

                      <li><a href="/interruptores-en-caja-moldeada"> Interruptores en caja moldeada </a>
                      
                      </li>

                      <li><a href="/motores" method="get"> Motores </a>
                      
                      </li>

                      <li><a href="/plc"> PLC </a>
                      
                      </li> 

                      <li><a href="/variadores"> Variadores </a>
                        
                      </li>
                   </ul>
                  </li>

                    <li>
                      <a href="/productos-electronicos" method="get">Productos electrónicos </a>
                      <ul class="dropdown">
                          <li><a href="/electronicos/Capacitores" method="get"> Capacitores </a>
                        </li>
                          <li><a href="/electronicos/Controladores" method="get"> Controladores </a>
                          </li>
                          <li><a href="/electronicos/Diodos rectificadores" method="get"> Diodos rectificadores </a></li> 
                          <li><a href="/electronicos/Fusibles" method="get"> Fusibles </a>
                          </li>
                          <li><a href="/electronicos/Interruptores térmicos" method="get"> Interruptores térmicos </a></li> 
                          <li><a href="/electronicos/Puentes" method="get"> Puentes</a>
                          </li>
                          <li><a href="/electronicos/Relays" method="get"> Relays</a>
                          </li>
                          <li><a href="/electronicos/Sensores" method="get"> Sensores</a>
                          </li>
                          <li><a href="/electronicos/Sopladores para AC y DC" method="get"> Sopladores para AC y DC </a></li> 
                          <li><a href="/electronicos/Termostatos bimetálicos" method="get"> Termostatos bimetálicos </a></li> 
                          <li><a href="/electronicos/Tirisitores (SCR)" method="get"> Tiristores (SCR) </a></li> 
                          <li><a href="/electronicos/Transistores IGBTs" method="get"> Transistores IGBTs </a></li> 
                          <li><a href="/electronicos/Ventiladores industriales" method="get"> Ventiladores industriales </a></li> 
                        </ul>                       
                    </li>

                    <li>
                      <a href="/productos-seguridad" method="get">Productos de Seg. Industrial</a>
                      <ul class="dropdown">
                          <li><a href=""> Protecciones  </a>
                            <ul class="dropdown">
                              <li><a href="/seguridad-cat/Protección craneana" method="get"> Protección craneana </a></li>
                              <li><a href="/seguridad-cat/Protección para manos" method="get"> Protección para manos </a></li>
                              <li><a href="/seguridad-cat/Protección ocular" method="get"> Protección ocular </a></li>
                              <li><a href="/seguridad-cat/Protección química" method="get"> Protección química </a></li>
                              <li><a href="/seguridad-cat/Protección respiratoria" method="get"> Protección respiratoria </a></li>
                              <li><a href="/seguridad-cat/Protección soldador" method="get"> Protección soldador </a></li>                                                     
                            </ul> 
                          </li>
                          <li><a href="/seguridad-cat/Zapatos" method="get"> Zapatos </a></li>
                          <li><a href="/seguridad-cat/Sistemas de bloqueo" method="get"> Sistemas de bloqueo  </a></li>
                          <li><a href="/seguridad-cat/Cintas" method="get"> Cintas </a></li>
                          <li><a href="/seguridad-cat/Detectores de gas" method="get"> Detectores de gas </a></li>
                          <li><a href="/seguridad-cat/Equipo para incendio" method="get"> Equipo para incendio </a></li>
                          <li><a href="/seguridad-cat/Ergonómicos" method="get"> Ergonómicos </a></li>
                          <li><a href="/seguridad-cat/Indumentaria de trabajo" method="get"> Indumentaria de trabajo </a></li>
                          <li><a href="/seguridad-cat/Señalización" method="get"> Señalización </a></li>
                        </ul>
                        </li>
                        </li>         
                    </li>
                  </ul>                       
               
                <li>
                  <a href="/services" method="get">Servicios</a>
                  <ul class="dropdown">
                    <li><a href="/services"> Capacitaciones </a></li>
                    <li><a href="/services"> Reparaciones </a></li>
                    <li><a href="/services"> Restauracion y medicion de armonicos </a></li>
                    <li><a href="/services"> Puesta en marcha </a></li>
                    <li><a href="/services"> Mantenimientos preventivos </a></li>
                    <li><a href="/services"> Contratos de mantenimiento </a></li>
                    <li><a href="/services"> Estudios de termografia </a></li>
                  </ul>
                  </li>
          
                <li><a href="/contact" method="get" >Contacto</a></li>
                
              </ul>
              -->
            </div>
          </div>
        </div>  
      </div>    
    </div>
    
  </header>


  {{{body}}}

  
  <footer class="footer">
    <div class="container">
      <div class="widget col-lg-3 col-md-4 col-sm-12">
        <h4 class="title">Nosotros</h4>
       
        <p> Ofrecemos asesoramiento especilizado en las diferentes áreas de las empresas anticipándonos a sus necesidades actuales y futuras, mejorando el funcionamiento de los procesos continuos a través de la excelencia y la calidad.</p>
        
      </div>
      
      <div class="widget col-lg-3 col-md-3 col-sm-12">
        <h4 class="title">Contacto</h4>
        <ul class="contact_details">
          <li><i class="fa fa-envelope-o"></i> ventas@maxpower-ar.com </li>
          <li><i class="fa fa-envelope-o"></i> agutierrez@maxpower-ar.com </li>
          <li><i class="fa fa-phone-square"></i> +54-011-63093562 </li>
          <li><i class="fa fa-phone-square"></i> +54-011-75029920   </li>
          <li><i class="fa fa-home"></i> Belgrano 180, Oficina-5, Ramos Mejía.</li>
          <li><a href="https://g.page/maxpower-industrial-automation?share"><i class="fa fa-map-marker"></i> Ver en el mapa </a></li>
        </ul>
      </div>
     
      <div class="widget col-lg-3 col-md-3 col-sm-12">
        <h4 class="title"> Google Maps </h4>
        <ul class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.500734107821!2d-58.56899338476933!3d-34.642055080449566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x18ef337b0c3b235b!2sMAXPOWER+INDUSTRIAL+AUTOMATION!5e0!3m2!1ses-419!2sar!4v1561753598461!5m2!1ses-419!2sar" width="600" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        </ul>
      </div> 
    </div>


    

    <div class="copyrights">
      <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-12 columns footer-left ">
          <p>Copyright © 2019 - All rights reserved.</p>
        </div>
  
      
        <div class="col-lg-6 col-md-6 col-sm-12 columns text-right">
          <div class="footer-menu right">
            <ul class="menu">
           <a href="#" data-toggle="tooltip" data-placement="bottom" ><i class="fa fa-facebook"></i>&nbsp;</a>
           <a href="#" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-instagram"></i>&nbsp;</a>
           <a href="mailto:ventas@maxpowerautomation.com"data-toggle="tooltip" data-placement="bottom"><i class="fa fa-envelope-o"></i></a>
           <a href="#" data-toggle="tooltip" data-placement="bottom" ><i class="fa fa-linkedin"></i>&nbsp;</a>
           <a href="tel:011-75029920"> &nbsp;|&nbsp; <strong>011-75029920</strong></a>   
            </ul>
          </div>
        </div>
      </div> 
    </div> 
  </footer>

  <div class="dmtop">Arriba</div>

  <!-- JavaScript Libraries -->
  {{#if dou}}
  <script src="../lib/jquery/jquery.min.js"></script>
  <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="../lib/php-mail-form/validate.js"></script>
  <script src="../lib/prettyphoto/js/prettyphoto.js"></script>
  <script src="../lib/isotope/isotope.min.js"></script>
  <script src="../lib/hover/hoverdir.js"></script>
  <script src="../lib/hover/hoverex.min.js"></script>
  <script src="../lib/unveil-effects/unveil-effects.js"></script>
  <script src="../lib/owl-carousel/owl-carousel.js"></script>
  <script src="../lib/jetmenu/jetmenu.js"></script>
  <script src="../lib/animate-enhanced/animate-enhanced.min.js"></script>
  <script src="../lib/jigowatt/jigowatt.js"></script>
  <script src="../lib/easypiechart/easypiechart.min.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../js/main.js"></script>

  <!-- Home Slider JS Files -->
  <script src="../js/home-slider/jquery.js"></script>
	<script src="../js/home-slider/jquery.flexslider.js"></script>
	<script src="../js/home-slider/wow.min.js"></script>
	<script src="../js/home-slider/custom.js"></script>
  {{else}}
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/php-mail-form/validate.js"></script>
  <script src="lib/prettyphoto/js/prettyphoto.js"></script>
  <script src="lib/isotope/isotope.min.js"></script>
  <script src="lib/hover/hoverdir.js"></script>
  <script src="lib/hover/hoverex.min.js"></script>
  <script src="lib/unveil-effects/unveil-effects.js"></script>
  <script src="lib/owl-carousel/owl-carousel.js"></script>
  <script src="lib/jetmenu/jetmenu.js"></script>
  <script src="lib/animate-enhanced/animate-enhanced.min.js"></script>
  <script src="lib/jigowatt/jigowatt.js"></script>
  <script src="lib/easypiechart/easypiechart.min.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

  <!-- Home Slider JS Files -->
  <script src="js/home-slider/jquery.js"></script>
	<script src="js/home-slider/jquery.flexslider.js"></script>
	<script src="js/home-slider/wow.min.js"></script>
	<script src="js/home-slider/custom.js"></script>



  {{/if}}
  </body>

   


       </body>

</html>